.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media only screen and (max-width:800px){
  .book-container{
    display: grid;
    
 grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px; 

    width: 98vw;
height: 90vh;

gap: 0px;
  }
 .book-sec{
 gap: 0px;
   max-height: 19vh;
   align-items: flex-start;

   width: 43vw;
   
 }

 .book-img{
 
 width: 100%;
   height: 100%;

 }
 .book-img img{
   width: 50%;
height: 60%;
 }
 .book-info{
 height: 100%;
   
 }
 .book-info h3{
   font-size: 10px;
 }
 .book-info p{
   font-size: 7px;
 }
 .book-info button{
   padding: 2px 2px;
   font-size: 8px;
 }
}