body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.spinner-container{
  
    border-color: blue;
    
    color: #14b6;

}
.main-sec{
  height: 100vh;
  display: flex;
gap: 20px;
flex-direction: column;
  justify-content: center;
align-items: center;
color: #14b6;
}
.book-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


 gap: 20px;
 margin-left: 30px;
 margin-right: 30px;
}
.book-sec:hover{
  transform: scale(1.04);
 
  cursor: pointer;
}
.book-sec{
  transition: 0.5s ease all;
  display: flex;
  align-items: center;
  height: 100%;
 width: 30vw;
gap: 20px;
max-height: 21vh;
overflow: hidden;
 background-color: rgba(205, 210, 221, 0.4);
  border-radius: 10px;
  max-height: 30vh;
  margin-bottom: 5px;

}

form{
 
  display: flex;
 justify-content: center;
 align-items: center;
 margin-bottom: 20px;
 height: 4vh;
}
form input{
  height: 30px;
  border-radius: 10px;
  border-color: #14b6;
}
.book-info h3{
  font-size: 12px;
 

}
.book-info p{
  font-size: 10px;
  
}
a{
  text-decoration: none;
  color: black;
}
.book-img{
height: 100%;



}
.book-img img{
  height: 150px;
  width: 100px;
  margin-left: 10px;
margin-top: 20px;
}
button{
 
  border: none;
background-color: #14142b;
 cursor: pointer;
 color: white;
 border-radius: 10px;
 margin-bottom: 5px;

 font-size: 10px;
}
button:hover{
  background-color: white;
  color: #14142b;
  
}

h4{
  color: white;
}


.google-btn-signin{
width: 100vw;
display: flex;
justify-content: center;
flex-direction: column;
margin-bottom: 20px;
align-items: center;
height: 100vh;
background-image: url('./background-img.jpg');
background-position: 100%;

}
.google-btn:hover{
  cursor: pointer;
}
label{
  margin-left: 20px;
  margin-right: 10px;
}
span{
  font-size: 8px;
}

.pagination p {
  display: flex;

  gap: 30px;
  justify-content: center;
  color: blue;
  font-size: 20px;
  cursor: pointer;
  font-weight: 900;
}

.pagination p small:hover{
  color: aqua;
}
.pagination p small:active{
  color: aqua;
}
.footer small{
display: flex;
justify-content: center;
align-items: center;
  
}

@media only screen and (max-width:800px){
 
  .fullpage{
    height: 140vh;
    display: flex;
    flex-direction: column;
  }
  .book-container{
    display: grid;
    
 grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
  gap: 0px; 

    width: 98vw;


gap: 0px;
  }
 .book-sec{
 gap: 0px;
   max-height: 25vh;
   align-items: flex-start;

   width: 43vw;
   
 }
.book-img{

width: 90%;
}
.book-img img{
  width: 50px;
}
 .book-info{
 height: 100%;
 width: 80%;
 
 }
 .book-info h3{
   font-size: 10px;
 }
 .book-info p{
   font-size: 7px;
 }
 .book-info button{
   padding: 2px 2px;
   font-size: 8px;
 }
}
.fullpage{
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.footer-sec{
  
  margin-top: auto;
}
.fullpage{
  
  display: flex;
  flex-direction: column;
}